@use "../../../styles/utils/index.scss" as *;

::ng-deep .drawer-ripple {
  background: $primary-color !important;
  border-color: $primary-color !important;
  height: 70px !important;
  align-items: center !important;
}

::ng-deep .toggle-drawer {
  color: white !important;
  border-color: white !important;
}

::ng-deep .toggle-drawer:active {
  background: rgba($color: white, $alpha: 0.4) !important;
  border-color: rgba($color: white, $alpha: 0.5) !important;
  color: rgba($color: white, $alpha: 0.8) !important;
}

.sidebar-content-container {
  border-right: 1px solid #e2e8f0;
}
