@import "primeicons/primeicons.css";

$primary-color: rgba(0,0,0,.3);
$background-color: #020617;
$header-color: rgba(0, 0, 0, .3);
$accent-color: #f4f4f6;
$alert-color: #ff9012;
$error-color: #e11b1b;


// $primary-color: #141B41;
// $secondary-color: #306BAC;
// $cornflower-blue: #6f9cebff;
// $jordy-blue: #98b9f2ff;
// $tropical-indigo: #918ef4ff;